# Backend
backend/node_modules/
backend/config/config.env
backend/coverage

# Frontend
frontend/node_modules/
frontend/.pnp
frontend/.pnp.js
frontend/.yarn/install-state.gz

# Testing
frontend/coverage

# Next.js
frontend/.next/
frontend/out/

# Production
frontend/build

# Misc
frontend/.DS_Store
frontend/*.pem

# Debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Local env files
frontend/.env*.local

# Vercel
frontend/.vercel

# TypeScript
frontend/*.tsbuildinfo
frontend/next-env.d.ts
.vercel
